.character-list-table {
    border-collapse: collapse;
    width: 100%;

    tr {
        width: 100%;
        padding: 0.3rem;

        &:hover {
            background-color: rgb(255, 243, 210);
            cursor: pointer;
        }

        &:active {
            background-color: rgb(251, 220, 133);
        }
    }

    th {
        border: 0.1rem solid black;
        font-size: 1.5rem;
        text-align: center;
    }

    td {
        border: 0.1rem solid black;
        font-size: 1.2rem;
        text-align: center;
    }
}

.character-list-table__image {
    height: 8rem;
    width: 8rem;
}