.characters {
    height: 100vh;
    overflow: scroll;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 35rem;
    grid-auto-columns: 30rem;
    gap: 2rem;
}

.characters__character-link {
    text-decoration: none;
    color: black;
}